<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="<%= "/recipes/#{recipe["id"]}" %> ">
        <%= recipe['recipe_name'] %>
      </a>
      <%= recipe['description']%>
    </li>
  <% end %>
</ul>

<% if @page >= 1 %>
  <a class="nav" href="/recipes?page=<%=(@page - 1) %>">Previous page</a>
<%end%>
<a class="nav" href="/recipes?page=<%=(@page + 1) %>">Next page</a>

